hr {
    margin: 0;
}

.rodape {
    background-color: var(--cor-de-fundo);
    padding: 1em;
    font-weight: 400;
    font-size: 14px;
    color: var(--azul-degrade);
    text-align: center;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }
    .lista-rodape {
        display: block;
    }
    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.8em 0;
    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.8em;
    }
    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }
    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1.5em;
    }
    .rodape {
        padding: 4em 0;
    }
}