.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 1.7em 0.5em;
}

.topicos__link {
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 14px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--branco);
    background-color: var(--laranja);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
        font-weight: 300;
    }
    .topicos__link {
        font-size: 18px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}